@model IEnumerable<Proyecto_1.Models.Ruta>

@{
    ViewData["Title"] = "Resultados de Búsqueda";
}

<h1>Resultados de Búsqueda</h1>

<table>
    <thead>
        <tr>
            <th>Origen</th>
            <th>Destino</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ruta in Model)
        {
            <tr>
                <td>@ruta.Origen</td>
                <td>@ruta.Destino</td>
                <td>@ruta.Horario.ToString("dd/MM/yyyy")</td>
                <td>@ruta.Horario.ToString("hh:mm tt")</td>
                <td>@ruta.Precio.ToString("C", new System.Globalization.CultureInfo("es-CR"))</td>
                <td>
                    <a asp-action="Detalles" asp-route-id="@ruta.Id">Seleccionar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
