@model Proyecto_1.Models.Ruta

@{
    ViewData["Title"] = "Detalles de Ruta";
}

<h1>Detalles de Ruta</h1>

<h2>@Model.Origen a @Model.Destino</h2>
<p>Fecha: @Model.Horario.ToString("dd/MM/yyyy")</p>
<p>Hora: @Model.Horario.ToString("hh:mm tt")</p>
<p>Precio: @Model.Precio.ToString("C", new System.Globalization.CultureInfo("es-CR"))</p>

@if (Model.AsientosDisponibles > 0)
{
    // Obtener la lista de asientos ocupados desde ViewBag
    var asientosOcupados = ViewBag.AsientosOcupados as List<int> ?? new List<int>();

    var totalAsientos = Model.AsientosDisponibles + asientosOcupados.Count;

    <p>Total de Asientos: @totalAsientos</p>
    <p>Asientos Ocupados: @asientosOcupados.Count</p>
    <p>Asientos Disponibles: @Model.AsientosDisponibles</p>
}
else
{
    <p>No hay asientos disponibles para esta ruta.</p>
}

<div>
    <h3>Selecciona tus asientos</h3>
    <form method="get" asp-controller="Reserva" asp-action="Index">
        <input type="hidden" name="rutaId" value="@Model.Id" />
        <button type="submit">Seleccionar Asientos</button>
    </form>
</div>
